image: node:latest

cache:
  key: "${CI_COMMIT_SHA}"
  untracked: true
  paths:
    - node_modules/

stages:
  - inception
  - assess
  - transpile
  - test
  - assemble

create-cache:
  stage: inception
  script:
    - npm install
  cache:
    key: "${CI_COMMIT_SHA}"
    policy: push
    untracked: true
    paths:
      - node_modules/

assess-common:
  stage: assess
  script:
    - npm run lint.common
    - npm run lint.config
  cache:
    key: "${CI_COMMIT_SHA}"
    policy: pull
    untracked: true
    paths:
      - node_modules/

assess-code:
  stage: assess
  script:
    - npm run lint.main
    - npm run lint.flow
    - npm run lint.ts
  cache:
    key: "${CI_COMMIT_SHA}"
    policy: pull
    untracked: true
    paths:
      - node_modules/

transpile:
  stage: transpile
  script:
    - npm transpile.flow
    - npm transpile.ts
  cache:
    key: "${CI_COMMIT_SHA}"
    policy: pull
    untracked: true
    paths:
      - node_modules/

tests-typings:
  stage: test
  script:
    - npm test.flow
    - npm test.ts
  cache:
    key: "${CI_COMMIT_SHA}"
    policy: pull
    untracked: true
    paths:
      - node_modules/

tests:
  stage: test
  script:
    - npm lint.test
    - npm test
  cache:
    key: "${CI_COMMIT_SHA}"
    policy: pull
    untracked: true
    paths:
      - node_modules/

pack:
  stage: assemble
  script:
    - mkdir -p build
    - cd build
    - npm pack ../
  cache:
    key: "${CI_COMMIT_SHA}"
    policy: pull
    untracked: true
    paths:
      - node_modules/
  artifacts:
    name: $CI_PROJECT_NAME-$(date +%Y%m%d-%H%M)-$CI_COMMIT_SHORT_SHA
    paths:
      - ./build/*.tgz
